{% extends 'layout.html' %}
 
{% block content %}
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <!-- <div class="subheading mb-3">Intelitec Solutions</div> -->
                <p>As a junior web developer, this individual is in the early stages of learning web development. They possess basic web development skills and are filled with curiosity and passion for exploring new development environments. Currently, they are working on projects using fundamental knowledge of HTML, CSS, and JavaScript to build web pages. Additionally, they are actively learning about web development tools and technologies to enhance their skills. Through continuous learning and gaining experience, they aim to improve their abilities in the field of web development.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2022 ~</span></div>
        </div>
        <!-- <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior Web Designer</h3>
                <div class="subheading mb-3">Shout! Media Productions</div>
                <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2022 ~</span></div>
        </div> -->
    </div>
</section>
{% endblock %}