{% extends 'layout.html' %}
 
{% block content %}
<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            배
            <span class="text-primary">상현</span>
        </h1>
        <div class="subheading mb-5">
            202230214 · 010-5693-3669 ·
            <a href="mailto:vww2021@naver.com">ahsxkahs12@gmail.com</a>
        </div>
        <p class="lead mb-5">배상현.</p>
        <div class="social-icons">
            <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />

{% endblock %}